<div class="row">
  <div class="col-6">
    <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="user" class="form-label">User</label>
        <input
          type="text"
          class="form-control"
          id="user"
          formControlName="user"
        />
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea
          class="form-control"
          rows="3"
          formControlName="message"
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!chatForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
  <div class="col-6">
    <div class="p-3">
      <h5 class="mb-3">Messages</h5>
      <ul class="list-group">
        <p *ngIf="messages.length === 0">No messages yet</p>
        <li class="list-group-item" *ngFor="let message of messages">
          {{ message }}
        </li>
      </ul>
    </div>
  </div>
</div>
